extends layout

block content
  html
      head
          title= title
      body
          h1 Welcome to the Gallery App
          p Project Node.js + Express + Pug
          nav
              a(href='/galleries') Galleries
              |  | 
              a(href='/images/obrazek1.jpg') Example image