doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css", integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js", integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(class='topbar')
      span(class='topbar-title') Gallery

    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2 sidebar')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/') Home
              li
                a(href='/galleries') Galleries
              li
                a(href='/images') Images
              li
                a(href='/users') Users
              li
                a(href='/stats') Statistics
              li
                a(href='/users/user_add') Add user
              li
                a(href='/galleries/gallery_add') Add gallery
              li
                a(href='/images/image_add') Upload image
              //- li
              //-   a(href='/images/image_to_gallery') Add image to gallery
              li
                a(href='/galleries/gallery_browse') Browse galleries
              hr
              if loggedUser
                li(class='sidebar-user') Hello, #{loggedUser.username}!
                li
                  a(href='/users/logout') Logout
              else
                li
                  a(href='/users/login') Login
                
        div(class='col-sm-10 main-content')
          block content