extends layout

block content
  h1= title

  table
    thead
      tr
        th Name
        th Stats
    tbody
      tr
        td Users
        td= usersCount
      tr
        td Galleries
        td= galleriesCount
      tr
        td Images
        td= imagesCount